# Exercise 6 : Sampling (Simple random, Stratified, Multi-stage)

Extract samples from the data file titled, "Online Retail.xlsx" using <br>
1) Simple random sampling<br>
2) Stratified sampling<br>
3) Multi-stage sampling<br>

In [1]:
pip install xlrd

Requirement already satisfied: xlrd in c:\python\python37\lib\site-packages (1.2.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd

In [8]:
data = pd.read_excel('data_ch3/Online Retail.xlsx')
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [1]:
#Remember we use random_state = a constant number
#This to ensure that the samples obtained are the same

## Simple random sampling

In [13]:
data_sample_random = data.sample(frac=0.1,random_state=42) # selecting 10% of the data randomly
data_sample_random.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
209268,555200,71459,HANGING JAM JAR T-LIGHT HOLDER,24,2011-06-01 12:05:00,0.85,17315.0,United Kingdom
207108,554974,21128,GOLD FISHING GNOME,4,2011-05-27 17:14:00,6.95,14031.0,United Kingdom
167085,550972,21086,SET/6 RED SPOTTY PAPER CUPS,4,2011-04-21 17:05:00,0.65,14031.0,United Kingdom
471836,576652,22812,PACK 3 BOXES CHRISTMAS PANETTONE,3,2011-11-16 10:39:00,1.95,17198.0,United Kingdom
115865,546157,22180,RETROSPOT LAMP,2,2011-03-10 08:40:00,9.95,13502.0,United Kingdom

## Stratified sampling

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_valid, y_train, y_valid = train_test_split(data, data['Country'], \
                                                      test_size=0.2, random_state=42,stratify = data['Country'])

In [12]:
data.shape

(541909, 8)

In [11]:
X_train.shape

(433527, 8)

## Multi stage sampling

Extract random sample of 2 % by country from those transactions which occurred in United Kingdom, Germany or France and corresponding quantity is >= 2

In [18]:
data_ugf = data[data['Country'].isin(['United Kingdom', 'Germany', 'France'])]
data_ugf_q2 = data_ugf[data_ugf['Quantity']>=2]

In [20]:
data_ugf_q2_sample = data_ugf_q2.sample(frac = .02, random_state=42)
data_ugf_q2_sample.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
224900,556579,22987,WRAP SUMMER ROSE DESIGN,25,2011-06-13 14:16:00,0.42,15069.0,United Kingdom
479100,577137,21137,BLACK RECORD COVER FRAME,96,2011-11-18 08:59:00,3.39,14110.0,United Kingdom
78507,542888,22476,EMPIRE UNION JACK TV DINNER TRAY,3,2011-02-01 13:15:00,4.95,15687.0,United Kingdom
499283,578664,22593,CHRISTMAS GINGHAM STAR,7,2011-11-24 16:59:00,0.85,15910.0,United Kingdom
153888,549831,16156S,WRAP PINK FAIRY CAKES,25,2011-04-12 13:10:00,0.42,14844.0,United Kingdom