# Exercise 12 : Bag of Words

Create the bag of word representation of the following texts for<br>
1) All the terms <br>
2) Top 10 frequent terms<br>

Text_1: Data Science is an overlap between Arts and Science. <br>
Text_2: Generally, Arts graduates are right-brained and Science graduates are left-brained.<br>
Text_3: Excelling in both Arts and Science at a time becomes difficult.<br>
Text_4: Natural Language Processing is a part of Data Science.<br>

In [1]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
corpus = [
'Data Science is an overlap between Arts and Science',
'Generally, Arts graduates are right-brained and Science graduates are left-brained',
'Excelling in both Arts and Science at a time becomes difficult',
'Natural Language Processing is a part of Data Science'
]

In [2]:
#Q1 Solution : For all words
bag_of_words_model = CountVectorizer()
print(bag_of_words_model.fit_transform(corpus).todense())

[[1 1 0 1 0 0 1 0 0 1 0 0 0 0 0 1 0 0 0 0 1 0 0 0 2 0]
 [0 1 2 1 0 0 0 0 2 0 0 0 1 2 0 0 0 1 0 0 0 0 0 1 1 0]
 [0 1 0 1 1 1 0 1 0 0 1 1 0 0 1 0 0 0 0 0 0 0 0 0 1 1]
 [0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 1 0 1 1 0 1 1 0 1 0]]

In [3]:
bag_of_word_df = pd.DataFrame(bag_of_words_model.fit_transform(corpus).todense())
bag_of_word_df.columns = sorted(bag_of_words_model.vocabulary_)
bag_of_word_df.head()

,an,and,are,arts,at,becomes,between,both,brained,data,...,language,left,natural,of,overlap,part,processing,right,science,time
0,1,1,0,1,0,0,1,0,0,1,...,0,0,0,0,1,0,0,0,2,0
1,0,1,2,1,0,0,0,0,2,0,...,0,1,0,0,0,0,0,1,1,0
2,0,1,0,1,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,1,1
3,0,0,0,0,0,0,0,0,0,1,...,1,0,1,1,0,1,1,0,1,0

In [4]:
##Q2 Solution : Bag of word model for top 10 frequent terms
bag_of_words_model_small = CountVectorizer(max_features=10)
bag_of_word_df_small = pd.DataFrame(bag_of_words_model_small.fit_transform(corpus).todense())
bag_of_word_df_small.columns = sorted(bag_of_words_model_small.vocabulary_)
bag_of_word_df_small.head()

   an  and  are  arts  brained  data  graduates  is  right  science
0   1    1    0     1        0     1          0   1      0        2
1   0    1    2     1        2     0          2   0      1        1
2   0    1    0     1        0     0          0   0      0        1
3   0    0    0     0        0     1          0   1      0        1