# Exercise 5: Dealing with local XML file

Parse the file 'sample_xml_data.xml' to do the following <br>
i) Print names of the employees along with the organizations they are working for <br>
ii) Total of their salaries

In [1]:
import xml.etree.ElementTree as ET

In [31]:
tree = ET.parse('data_ch4/sample_xml_data.xml')
root = tree.getroot()

In [22]:
root

In [7]:
root.tag

'records'

# Print names of the employees along with the organizations they are working for

In [18]:
for record in root.findall('record')[:20]:
    print(record.find('name').text, "---",record.find('company').text)

Peter Brewer --- Erat Ltd
Wallace Pace --- Sed Nunc Industries
Arthur Ray --- Amet Faucibus Corp.
Judah Vaughn --- Nunc Quis Arcu Inc.
Talon Combs --- Leo Elementum Ltd
Hall Bruce --- Proin Non Massa Consulting
Ronan Grant --- Scelerisque Sed Inc.
Dennis Whitaker --- Scelerisque Neque Foundation
Bradley Oconnor --- Aliquet Corporation
Forrest Alvarez --- Et Eros Institute
Ignatius Meyers --- Facilisis Lorem Limited
Bert Randolph --- Facilisis LLP
Victor Stevenson --- Lacinia Vitae Sodales Incorporated
Jamal Cummings --- Litora Ltd
Samson Estrada --- Lacinia Vitae Sodales Industries
Ira Spencer --- Duis Associates
Kevin Henson --- Sagittis Limited
Melvin Mccarthy --- Ipsum Suspendisse Company
Kieran Underwood --- Quisque Porttitor Eros Ltd
Cedric Phelps --- Lorem Vehicula Corp.

In [30]:
for record in root[:20]:
    print(record.tag,"---", record.attrib)

record --- {'txt': 'here is the begining'}
record --- {'txt': 'this is the second entry'}
record --- {}
record --- {}
record --- {}
record --- {}
record --- {}
record --- {}
record --- {}
record --- {}
record --- {}
record --- {}
record --- {}
record --- {}
record --- {}
record --- {}
record --- {}
record --- {}
record --- {}
record --- {}

# Total salary of all employees

In [34]:
import numpy as np
np.sum([int(record.find('salary').text.replace('$','').replace(',','')) for record in root.findall('record')])

745609