# Exercise 1: Extracting Data from local HTML file

Extract addresses, quotes, texts written in bold words and table present in sample_doc.html.

In [ ]:
pip install bs4

In [1]:
from bs4 import BeautifulSoup

In [3]:
soup = BeautifulSoup(open('data_ch4/sample_doc.html'), 'html.parser')

In [6]:
soup.text

'\n\n\n A sample HTML Page \n\n\nI am staying at  Mess on No. 72, Banamali Naskar Lane, Kolkata. \nSherlock  stays at 221B, Baker Street, London, UK. \nHamlet said to Horatio,   There are more things in heaven and earth, Horatio,  Than are dreamt of in your philosophy. \n A table denoting details of students\n\n\nname\nqualification\nadditional qualification\nother qualification\n\n\nGangaram\nB.Tech\nNA\nNA\n\n\nGanga\nB.A.\nNA\nNA\n\n\nRam\nB.Tech\nM.Tech\nNA\n\n\nRamlal\nB.Music\nNA\nDiploma in Music\n\n\n\n'

In [7]:
soup.contents

['html', '\n', <html>
 <head>
 <title> A sample HTML Page </title>
 </head>
 <body>
 I am staying at <address> Mess on No. 72, Banamali Naskar Lane, Kolkata.</address> <br>
 <b>Sherlock </b> stays at <address>221B, Baker Street, London, UK.</address> <br>
 <b>Hamlet</b> said to <b>Horatio</b>, <br> <q> There are more things in heaven and earth, Horatio, <br> Than are dreamt of in your philosophy. </br></q>
 <h1> A table denoting details of students</h1>
 <table>
 <tr>
 <th>name</th>
 <th>qualification</th>
 <th>additional qualification</th>
 <th>other qualification</th>
 </tr>
 <tr>
 <td>Gangaram</td>
 <td>B.Tech</td>
 <td>NA</td>
 <td>NA</td>
 </tr>
 <tr>
 <td>Ganga</td>
 <td>B.A.</td>
 <td>NA</td>
 <td>NA</td>
 </tr>
 <tr>
 <td>Ram</td>
 <td>B.Tech</td>
 <td>M.Tech</td>
 <td>NA</td>
 </tr>
 <tr>
 <td>Ramlal</td>
 <td>B.Music</td>
 <td>NA</td>
 <td>Diploma in Music</td>
 </tr>
 </table>
 </br></br></br></body>
 </html>]

## Look for tag address

In [16]:
soup.find('address')

In [8]:
soup.find_all('address')

[<address> Mess on No. 72, Banamali Naskar Lane, Kolkata.</address>,
 <address>221B, Baker Street, London, UK.</address>]

## Look for tag 'q' (this denote quotes)

In [18]:
soup.find_all('q')

## Look for tag 'b' (this denote texts in bold font)

In [19]:
soup.find_all('b')

## Look for tag 'table'

In [28]:
table = soup.find('table')

In [29]:
table

<table>
<tr>
<th>name</th>
<th>qualification</th>
<th>additional qualification</th>
<th>other qualification</th>
</tr>
<tr>
<td>Gangaram</td>
<td>B.Tech</td>
<td>NA</td>
<td>NA</td>
</tr>
<tr>
<td>Ganga</td>
<td>B.A.</td>
<td>NA</td>
<td>NA</td>
</tr>
<tr>
<td>Ram</td>
<td>B.Tech</td>
<td>M.Tech</td>
<td>NA</td>
</tr>
<tr>
<td>Ramlal</td>
<td>B.Music</td>
<td>NA</td>
<td>Diploma in Music</td>
</tr>
</table>

In [27]:
for row in table.find_all('tr'):
    columns = row.find_all('td')
    print(columns)

[]
[<td>Gangaram</td>, <td>B.Tech</td>, <td>NA</td>, <td>NA</td>]
[<td>Ganga</td>, <td>B.A.</td>, <td>NA</td>, <td>NA</td>]
[<td>Ram</td>, <td>B.Tech</td>, <td>M.Tech</td>, <td>NA</td>]
[<td>Ramlal</td>, <td>B.Music</td>, <td>NA</td>, <td>Diploma in Music</td>]

In [32]:
table.find_all('tr')[3].find_all('td')[2]